<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Statflo test</title>
</head>
<body>
    <div class="container">
        <a href="docb">Backend docks</a>
        <a href="docf">Frontend docks</a>
        <div id='root'></div>
    </div>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>